.estoque-page-main-container {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/images/background.png);
    background-size: 105vw 105vh;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.estoque-title-container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.estoque-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
}

.estoque-page-scroll-container {
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    background-color: #E9E9E9;
    border: solid 1px #C7C7C7;
    border-radius: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    padding: 10px;
}

.estoque-add-item-container {
    width: 1000px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.estoque-add-title-container-2 {
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #131212EE;
    border-radius: 5px;
    margin: 20px 0px 5px;
}

.estoque-add-pdt-title,
.estoque-add-qtd-title,
.estoque-add-value-title {
    background-color: #ECECEC;
    border: solid 1px #C7C7C7;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: #565656;
    font-weight: 500;
}

.estoque-add-pdt-title {
    width: 700px;
    height: 24px;
    color: #383838;
    overflow-y: scroll;
    overflow-x: hidden;
}

.estoque-add-qtd-title {
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #383838;
}

.estoque-add-value-title {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #383838;
    font-weight: 500;
}

.estoque-add-pdt-title-top,
.estoque-add-qtd-title-top,
.estoque-add-value-title-top {
    background-color: #ECECEC;
    border: solid 1px #C7C7C7;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    color: #565656;
    font-weight: 500;
    font-size: .9em;
}

.estoque-add-pdt-title-top:focus,
.estoque-add-qtd-title-top:focus,
.estoque-add-value-title-top:focus {
    outline: solid 1px #00B13E;
    border: solid 1px #00B13E;
}

.estoque-add-pdt-title-top {
    width: 780px;
    height: 24px;
    color: #383838;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left: -16px;
}

.estoque-add-qtd-title-top {
    width: 50px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #383838;
    text-align: center;
}

.estoque-add-value-title-top {
    width: 80px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #383838;
    text-align: center;
}
.add-btn {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 12px;
    background-color: #ECECEC;
    border: solid 1px #C7C7C7;
    border-radius: 50px;
    color: #00B13E;
    font-size: 1.3em;
    
}

.add-btn:hover,
.add-btn:focus {
    transition: .25s;
    background-color: #00B13E;  
    outline: solid 1px #00B13E;
    border: solid 1px #00B13E;
    color: #FFF;
}

.white {
    color: #EFEFEF;
}

.bold {
    font-weight: 500;
}

.margin-btn-20 {
    margin-bottom: 20px;
}

.margin-rgt-20 {
    margin-right: 30px;
}

.margin-rgt-755 {
    margin-right: 725px;
    margin-left: -50px;
}

.margin-lft-10 {
    margin-left: 10px;
}

.width-1020 {
    width: 1020px;
    font-weight: 500;
    font-size: 1em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.stock-total-value {
    color: #E00000;
    font-size: 1.8em;
    font-weight: 600;
}

.estoque-pdt-title-margin {
    margin-right: 570px;
    margin-left: -50px;
}

.estoque-date-container {
    margin: 0px 15px 0px;
    padding: 6px 3px;
    background-color: #E9E9E9;
    color: #000;
    font-size: 1rem;
    border: solid 1px #C7C7C7;
    border-radius: 5px;
}

input[type="date"]::-webkit-calendar-picker-indicator  {
    filter: invert(0.8) brightness(0%);
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}